#cv-form
{
   
}
#cv-template
{
    display: none;
}
.myimg
{
    border-radius: 50%;
    width: 200px;
}

.background
{
    background-color: rgb(127, 185, 255);
}

.big-size
{
    font-size: 35px;
    
}
.small-size
{
    font-size: 10px;
    
}
body
{
background-image:url("/home/ashok/Documents/CodeAlpha_Resume_Builder-main (1)/images/brandi-redd-aJTiW00qqtI-unsplash.jpg");
}

